body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to top, black, #0e4d4d);
}

#registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    max-width: 500px;
    opacity: 0.9;
}

.input-control {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.input-control.success .error {
    display: none;
}

h1,
p,
label {
    text-align: center;
    color: white;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0e4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1a6b6b;
}

#result-message,
#result-percent {
    text-align: center;
    color: white;
}

input::placeholder {
    text-align: center;
}